<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>105256739639-qaoj6bhek96tfol5a9506cjekadj5ju7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.105256739639-qaoj6bhek96tfol5a9506cjekadj5ju7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>105256739639-73i4kmu0o1elhp7fh7njnbrm7hmg6ik7.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAOhZqE0XjGCyZjiJvsxSVUNKJXoJTLKww</string>
	<key>GCM_SENDER_ID</key>
	<string>105256739639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.netcliente.br</string>
	<key>PROJECT_ID</key>
	<string>eusebio-project</string>
	<key>STORAGE_BUCKET</key>
	<string>eusebio-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:105256739639:ios:ae5880256bdfa9fff8b0b2</string>
</dict>
</plist>